# dataset
/data/scannet/scans
/data/scannet/scans_test
/data/scannet/scannet_data
/data/scanrefer

# language related
/data/glove.p
/data/Scanrefer_vocabulary.json
/data/Scanrefer_vocabulary_weights.json

# cache
/data/scannet/__pycache__
/lib/__pycache__
/utils/__pycache__
/model/__pycache__
/scripts/__pycache__
/model/__pycache__
/ops/__pycache__
/model/evaluation/__pycache__/


# Pycharm IDE
/.idea

# lightning_logs
/scripts/logs

# visualization
/visualization

# model
/scripts/model0522_nopretrian_decay_epoch0.ckpt
/scripts/model0522_pretrian_decay_avgobject_epoch0.ckpt
/scripts/model0523_pretrain_attention_decay0.ckpt
/scripts/checkpoints/
/scripts/model0523_pretrain_attention_decay1.ckpt
/scripts/model0523_pretrain_attention_decay2.ckpt
